In [18]:
from api.services.task_assigner.tests.data_mocker import mock_coherent_data
from api.services.task_assigner.solver import solveur_task_assigner

In [19]:
df_prj, df_cmp, df_tsk, df_dsp = mock_coherent_data()

In [20]:
df_prj

   utl_spkutilisateur  int_sfkprojet
0                3566           5782
1                4047           5782
2                5925           5782
3                8560           5782
4                9199           5782
5                2194           9398
6                3566           9398
7                4967           9398
8                5925           9398
9                9199           9398

In [21]:
df_cmp

   emc_sfkarticle  emc_sniveau  emc_sfkutilisateur
0            2161            3                2194
1            2161            1                4047
2            2161            1                8560
3            5614            1                2194
4            7457            1                4927
5            7457            1                4967

In [22]:
df_tsk

    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet
0         1.50              1276                7457           5782
1         3.25              3009                5614           9398
2         5.25              3823                3778           9398
3         3.25              4100                3778           9398
4         2.75              4160                7457           9398
5         3.00              4763                3778           5782
6         1.75              5064                3778           9398
7         1.00              5335                2161           9398
8         4.25              5762                3778           5782
9         2.50              6647                5614           5782
10        0.75              6852                3778           5782
11        1.75              6926                7457           9398
12        5.25              7609                3778           9398
13        1.00              7947                3778           9398
14        1.50              8045                2161           5782
15        3.50              8157                3778           5782
16        4.00              8626                2161           5782
17        4.75              8976                5614           5782
18        4.75              9027                3778           5782
19        1.25              9217                2161           5782
20        5.50              9536                2161           5782
21        4.00              9701                2161           9398
22        2.25              9813                3778           9398

In [23]:
df_dsp

   utl_spkutilisateur  utl_sdispo
0                2194           7
1                3566           7
2                4047           9
3                4927           7
4                4967           8
5                5925           7
6                8560           6
7                9199           8

In [24]:
from api.controllers.task_assigner import FrontEndTaskAssignerRequestContent

frontend_request_task_assigner = FrontEndTaskAssignerRequestContent(backend_url="url.com",
                                                                   backend_access_token="token_url",
                                                                   date_start="2023-01-18T21:01:55.124529",
                                                                   date_end="2023-01-21T21:01:55.124529",
                                                                   avantage_projet=1.4,
                                                                    curseur=0.4,
                                                                    contrainte_etre_sur_projet="oui")

solution = solveur_task_assigner(
            df_prj=df_prj,
            df_cmp=df_cmp,
            df_tsk=df_tsk,
            df_dsp=df_dsp,
            curseur=frontend_request_task_assigner.curseur,
            contrainte_etre_sur_projet=frontend_request_task_assigner.contrainte_etre_sur_projet,
            avantage_projet=frontend_request_task_assigner.avantage_projet,
        )

In [25]:
solution

{'solution_brute': {'prj': {0: 5782,
   1: 5782,
   2: 5782,
   3: 5782,
   4: 5782,
   5: 5782,
   6: 5782,
   7: 5782,
   8: 5782,
   9: 5782,
   10: 5782,
   11: 5782,
   12: 5782,
   13: 5782,
   14: 5782,
   15: 5782,
   16: 9398,
   17: 9398,
   18: 9398,
   19: 9398,
   20: 9398,
   21: 9398,
   22: 9398,
   23: 9398,
   24: 9398,
   25: 9398,
   26: 9398,
   27: 9398,
   28: 9398,
   29: 9398},
  'tsk': {0: 1276,
   1: 4763,
   2: 5762,
   3: 5762,
   4: 6647,
   5: 6852,
   6: 8045,
   7: 8157,
   8: 8157,
   9: 8626,
   10: 8976,
   11: 8976,
   12: 9027,
   13: 9027,
   14: 9217,
   15: 9536,
   16: 3009,
   17: 3009,
   18: 3009,
   19: 3823,
   20: 4100,
   21: 4160,
   22: 5064,
   23: 5335,
   24: 6926,
   25: 7609,
   26: 7609,
   27: 7947,
   28: 9701,
   29: 9813},
  'utl': {0: 3566,
   1: 'not assigned',
   2: 9199,
   3: 'not assigned',
   4: 9199,
   5: 9199,
   6: 8560,
   7: 8560,
   8: 9199,
   9: 8560,
   10: 3566,
   11: 5925,
   12: 4047,
   13: 5925,
   14: 4047,
   15: 4047,
   16: 2194,
   17: 3566,
   18: 'not assigned',
   19: 'not assigned',
   20: 'not assigned',
   21: 4967,
   22: 'not assigned',
   23: 2194,
   24: 4967,
   25: 3566,
   26: 4967,
   27: 3566,
   28: 2194,
   29: 3566},
  'duree_assignee': {0: 1.5,
   1: 3.0,
   2: 1.75,
   3: 2.5,
   4: 2.5,
   5: 0.75,
   6: 1.5,
   7: 0.5,
   8: 3.0,
   9: 4.0,
   10: 0.25,
   11: 4.5,
   12: 2.25,
   13: 2.5,
   14: 1.25,
   15: 5.5,
   16: 2.0,
   17: 0.25,
   18: 1.0,
   19: 5.25,
   20: 3.25,
   21: 2.75,
   22: 1.75,
   23: 1.0,
   24: 1.75,
   25: 1.75,
   26: 3.5,
   27: 1.0,
   28: 4.0,
   29: 2.25},
  'tsk_lgt': {0: 1.5,
   1: 3.0,
   2: 4.25,
   3: 4.25,
   4: 2.5,
   5: 0.75,
   6: 1.5,
   7: 3.5,
   8: 3.5,
   9: 4.0,
   10: 4.75,
   11: 4.75,
   12: 4.75,
   13: 4.75,
   14: 1.25,
   15: 5.5,
   16: 3.25,
   17: 3.25,
   18: 3.25,
   19: 5.25,
   20: 3.25,
   21: 2.75,
   22: 1.75,
   23: 1.0,
   24: 1.75,
   25: 5.25,
   26: 5.25,
   27: 1.0,
   28: 4.0,
   29: 2.25},
  'duree_non_assignee': {0: 0.0,
   1: 0.0,
   2: 2.5,
   3: 1.75,
   4: 0.0,
   5: 0.0,
   6: 0.0,
   7: 3.0,
   8: 0.5,
   9: 0.0,
   10: 4.5,
   11: 0.25,
   12: 2.5,
   13: 2.25,
   14: 0.0,
   15: 0.0,
   16: 1.25,
   17: 3.0,
   18: 2.25,
   19: 0.0,
   20: 0.0,
   21: 0.0,
   22: 0.0,
   23: 0.0,
   24: 0.0,
   25: 3.5,
   26: 1.75,
   27: 0.0,
   28: 0.0,
   29: 0.0},
  'dsp_utl': {0: 7,
   1: 59,
   2: 8,
   3: 59,
   4: 8,
   5: 8,
   6: 6,
   7: 6,
   8: 8,
   9: 6,
   10: 7,
   11: 7,
   12: 9,
   13: 7,
   14: 9,
   15: 9,
   16: 7,
   17: 7,
   18: 59,
   19: 59,
   20: 59,
   21: 8,
   22: 59,
   23: 7,
   24: 8,
   25: 7,
   26: 8,
   27: 7,
   28: 7,
   29: 7},
  'cmp': {0: 7457,
   1: 3778,
   2: 3778,
   3: 3778,
   4: 5614,
   5: 3778,
   6: 2161,
   7: 3778,
   8: 3778,
   9: 2161,
   10: 5614,
   11: 5614,
   12: 3778,
   13: 3778,
   14: 2161,
   15: 2161,
   16: 5614,
   17: 5614,
   18: 5614,
   19: 3778,
   20: 3778,
   21: 7457,
   22: 3778,
   23: 2161,
   24: 7457,
   25: 3778,
   26: 3778,
   27: 3778,
   28: 2161,
   29: 3778},
  'lvl': {0: 0.0,
   1: nan,
   2: 0.0,
   3: nan,
   4: 0.0,
   5: 0.0,
   6: 1.8000000000000003,
   7: 0.0,
   8: 0.0,
   9: 1.8000000000000003,
   10: 0.0,
   11: 0.0,
   12: 0.0,
   13: 0.0,
   14: 1.8000000000000003,
   15: 1.8000000000000003,
   16: 0.9,
   17: 0.0,
   18: nan,
   19: nan,
   20: nan,
   21: 1.8000000000000003,
   22: nan,
   23: 2.6999999999999997,
   24: 1.8000000000000003,
   25: 0.0,
   26: 0.0,
   27: 0.0,
   28: 2.6999999999999997,
   29: 0.0}},
 'statistics': {'cmp': {'cmp': {0: 3778, 1: 5614, 2: 2161, 3: 7457},
   'niveau_cmp_moyen_par_h_realisee': {0: 0.0, 1: 0.18, 2: 2.1, 3: 1.2},
   'total_h_non_assignees': {0: 15.75, 1: 1.0, 2: 0.0, 3: 0.0}},
  'utl': {'utl': {0: 2194,
    1: 3566,
    2: 4047,
    3: 4967,
    4: 5925,
    5: 8560,
    6: 9199},
   'niveau_moyen_execution_tsk': {0: 2.2,
    1: 0.0,
    2: 1.4,
    3: 1.0,
    4: 0.0,
    5: 1.7,
    6: 0.0},
   'total_h_assignees': {0: 7.0,
    1: 7.0,
    2: 9.0,
    3: 8.0,
    4: 7.0,
    5: 6.0,
    6: 8.0},
   'dsp_utl': {0: 7, 1: 7, 2: 9, 3: 8, 4: 7, 5: 6, 6: 8},
   'taux_occupation': {0: 1.0,
    1: 1.0,
    2: 1.0,
    3: 1.0,
    4: 1.0,
    5: 1.0,
    6: 1.0}},
  'tsk': {'tsk': {0: 5064,
    1: 4100,
    2: 3823,
    3: 4763,
    4: 5762,
    5: 3009,
    6: 9813,
    7: 9701,
    8: 9536,
    9: 9217,
    10: 9027,
    11: 8976,
    12: 1276,
    13: 8045,
    14: 7947,
    15: 7609,
    16: 6926,
    17: 6852,
    18: 6647,
    19: 5335,
    20: 4160,
    21: 8626,
    22: 8157},
   'n_utl_per_tsk': {0: 0,
    1: 0,
    2: 0,
    3: 0,
    4: 1,
    5: 2,
    6: 1,
    7: 1,
    8: 1,
    9: 1,
    10: 2,
    11: 2,
    12: 1,
    13: 1,
    14: 1,
    15: 2,
    16: 1,
    17: 1,
    18: 1,
    19: 1,
    20: 1,
    21: 1,
    22: 2},
   'pct_assignation_tache': {0: 0,
    1: 0,
    2: 0,
    3: 0,
    4: 41,
    5: 69,
    6: 100,
    7: 100,
    8: 100,
    9: 100,
    10: 100,
    11: 100,
    12: 100,
    13: 100,
    14: 100,
    15: 100,
    16: 100,
    17: 100,
    18: 100,
    19: 100,
    20: 100,
    21: 100,
    22: 100}},
  'prj': {'index': {0: 0, 1: 1},
   'prj': {0: 5782, 1: 9398},
   'total_h_non_assignees': {0: 17.25, 1: 11.75},
   'n_missing_cmp_per_prj': {0: 2, 1: 4}}}}